.order_card {
    display: flex;
    flex-direction: row;
    width: 80%;
    background-color: #17181d;
    margin-bottom: 2.5%;
}

.manage_quantity {
    display: flex;
    flex-direction: row;
}

.order_quantity_button {
    width: 5vw;
    text-align: center;
    background-color: #59ba47;
    color: #1a1c22;
}

.delete_product_button {
    width: 10vw;
    text-align: center;
    padding-left: 1%;
    background-color: #59ba47;
    color: #1a1c22;
}