.sidebar {
    padding-top: 5%;
    width: 11%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo_sidebar {
    width: 80%;
    margin-bottom: 50%;
}

.menu_sidebar {
    margin-bottom: 50%;
}

.categories_sidebar  {
    margin-bottom: 50%;
}

.categories_sidebar_link {
    width: 100%;
}

.sidebar_footer{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 0.4em;
    width: 73%;
    height: 11%;
}
.sidebar_footer a {
    color: #59BA47;
}