.sidebar {
    position: sticky;
    top: 0;
    bottom: 0;
    height: 95vh;
    padding-left: 1.5%;
    padding-right: 1.5%;
    padding-top: 3vh;
    padding-bottom: 2vh;
    width: 10%;
    display: flex;
    /* font-size: 14px; */
    font-size: 0.8vw;
    flex-direction: column;
    justify-content: space-between;
}

.logo_sidebar {
    margin-top: 15%;
    width: 80%;
}

.sidebar_section_header {
    font-weight: bolder;
}

.menu_sidebar {
    width: 90%;
    height: 18vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}

.category, .menu_link {
    margin-left: 10%;
}

.menu_link{
    color: grey;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu_link > svg {
    margin-right: 15%;
    margin-top: -5px;
}

.menu_active {
    color: #cccccc;
}

.categories_sidebar {
    display: flex;
    flex-direction: column;
    height: 30%;
    justify-content: space-between;
    font-weight: 300;
}

.category {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.category_active {
    color: white;
}

.category_active_dash {
    height: 2px;
    width: 8%;
    background-color: #59BA47;
    margin-right: 8%;
    margin-top: -3%;
}

.sidebar_footer{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 0.6vw;
}
.sidebar_footer a {
    color: #59BA47;
}