body,
html {
  height: 100%;
  width: 100%;
  margin: 0px;
  font-family: "GT Walsheim Pro Medium";
}

html {
  background-color: #17181d;
  color: #808183;
}


body {
  box-shadow: 0 2px 10px rgba(14, 14, 14, 0.5);
  border-radius: 5px;
}

.background {
  display: flex;
  width: 100%;
  flex-direction: row;
  flex-wrap: nowrap;
}

.body {
  background-color: #1f2025;
  width: 95%;
  padding: 6vh;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  border-radius: 50px 0px 0px 50px;
}

*:focus {
  outline: none;
}

a {
  text-decoration: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* materialUI buttons */
.MuiButton-root {
  text-transform: none !important;
  border-radius: 8px !important;
}

@import url(//db.onlinewebfonts.com/c/d4f20dfedfdf197ed0ac52b09bf25551?family=GT+Walsheim+Pro+Medium);
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@import "./components/sidebar/sidebar.css";
@import "./components/header/header.css";
@import "./components/home/home.css";
@import "./components/account/account.css";
@import "./components/auth/auth.css";
@import "./components/cart/cart.css";
@import "./components/settings/settings.css";
@import "./components/error/error.css";
